body {
margin: 0;
padding: 0;
font-size: 85%;
font-family: "Helvetica Neue", helvetica, verdana, arial, sans-serif;
}

body, .contentbox {
background-color: rgb(86,90,92);
}

#container {
max-width: 1020px; min-width: 400px;
margin-left: auto;
margin-right: auto;
}

#content, #banner {
margin-right: 220px;
background-color: rgb(230,226,207);
color: #000;
}

#content {
padding: 0 1em 1em 1em;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
}

#content h1, #content h2, #content h3, #content h4, #content a {
color: rgb(158,126,39);
}
#content a:hover {
color: rgb(200,134,0);
}

#content p {
text-align: justify;
}

#content, #rsidebar {
line-height: 1.3em;
}

#banner {
padding: 0;
}

#banner ul { height: 1.8em; width: 100%; padding: 0; margin: 0; list-style-type: none; background-color: #000; }
#banner li { float: left; }
#banner a, #banner .link-here { padding-top: 0.3em; display: block; width: 6em; text-align:center; }

#banner img { width: 100%; }

#rsidebar {
float: right;
clear: right;
width: 200px;
}

#rsidebar, .contentbox {
color: rgb(162,164,163);
}

#rsidebar h3, #rsidebar h4 {
margin-bottom: 0.5ex;
}
#rsidebar h4 {
margin-top: 1ex;
}

#banner a, #rsidebar h1, #rsidebar h2, #rsidebar h3, #rsidebar h4, #rsidebar a,
#content .contentbox a {
color: rgb(207,185,124);
}
#banner a:hover, #rsidebar a:hover, #content .contentbox a:hover {
color: rgb(246,193,88);
}

color: rgb(0,0,0);
}

#header {
color: rgb(25,23,25);
padding-top: 1ex;
margin-bottom: 1em;
}

#header .title { font-size: 2em; line-height: 1.5em; font-weight: bold; }
#header .small-title { font-size: 1.25em; line-height: 1.5em; font-weight: bold; }
#header .subtitle { font-size: 1.1em; line-height: 1.5em; }
#header span.subtitle { font-variant: small-caps; margin-left: 2em; }
#header .tagline { text-align: center; padding-top: 1.5ex; padding-bottom: 1.5ex; font-style: italic; }

.contentbox {
padding: 0.5ex 0.5em 0.5ex 0.5em;
margin-top: 2ex;
margin-bottom: 2ex;
}

#news { padding: 0; }
#news-box {
position: relative;
overflow: hidden;
background-color: rgb(216,214,196);
width: 100%;
height: 8.5em;
margin-bottom: 1em;
}
.news-detail { display: none; opacity: 0; padding: 1em; text-align: justify; }
.news-item { opacity: 0.5; }

.links, .hlinks { padding: 0; margin: 0; }
.links li, .hlinks li { list-style-type: none; }
.links a { display: block; }
.hlinks li, .hlinks a { display: inline; }
.link-here { color: rgb(86,90,92); }

.item { margin-top: 2ex; margin-bottom: 2ex; position: relative; }
.item-icon { float: left; width: 60px; height: 60px; margin-right: 15px; position: absolute; left: 0px; }
.item .links { float: left; width: 2.5em; margin-right: 1em; font-size: 85%; }
.item-block .hlinks, .item-date
{ float: right; padding: 0; margin: 0; margin-bottom: 1ex; font-size: 85%; }
.item-block .hlinks { margin-left: 2em; }
.item-date { margin-left: 2em; }
.item-block { margin-left: 75px; }
.item-header { font-weight: bold; }
.item-note { margin-left: 1.5em; margin-top: 1ex; font-size: 90%; }

.person { display: inline-block; text-align: center; margin-right: 10px; margin-bottom: 3ex; width: 180px; }
img.face { width: 100px; height:100px; }
img.icon { width: 60px; height: 60px; }
img.medium-face { width: 50px; height: 50px; }
img.small-face { width: 15px; height: 15px; margin-right: 0.5em; }

.subh { margin-left: 2em; font-size: 80%; }

table.columns { width: 100%; border-collapse: collapse; }
table.columns td { padding: 0; border-left: 0.5em solid transparent; }
table.columns td:first-child { border: none; }
table.line-spaced td { padding-bottom: 1.5ex; }

/***** Global Elements *****/

h1 { font-size: 2em; line-height: 1.7em; }
h2 { font-size: 1.5em; line-height: 1.6em; }
h3 { font-size: 1.25em; line-height: 1.5em; }
h4 { font-size: 1em; line-height: 1.3em; }

p {
font-size: 1em;
}
p:first-child { margin-top: 0; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border-style: none; }

/***** Special Formatting *****/

.fmt-tool {
font-variant: small-caps;
}

.clearer { clear: both; }
.rspace { margin-right: 1em; }
.hanging { padding-left: 0.75em; text-indent: -0.75em; }
.centered { text-align: center; }
.float-right { float: right; margin-left: 1em; }
.float-left { float: left; margin-right: 1em; }

.rounded, .contentbox {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
