body {
margin: 0;
padding: 0;
font-size: 85%;
font-family: "Trebuchet MS", tahoma, verdana, arial, sans-serif;
background-color: rgb(65,97,124);
}

#container {
max-width: 800px; min-width: 400px;
margin-left: auto;
margin-right: auto;
}

#content {
background-color: rgb(255,250,228);
color: #333;
padding: 0 1em 1em 1em;
}

#content h1, #content h2, #content h3, #content h4, #content a {
color: rgb(157,127,37);
}

#content p {
text-align: justify;
}

#content {
line-height: 1.3em;
}

#header {
color: rgb(25,23,25);
padding-top: 1ex;
}

#header .title { font-size: 2em; line-height: 1.5em; font-weight: bold; }
#header .subtitle { font-size: 1.1em; line-height: 1.5em; }

.pic { float: left; text-align: center; margin-right: 2em; }

/***** Global Elements *****/

h1 { font-size: 2em; line-height: 1.7em; }
h2 { font-size: 1.5em; line-height: 1.6em; }
h3 { font-size: 1.25em; line-height: 1.5em; }
h4 { font-size: 1em; line-height: 1.3em; margin-top: 3ex; }

p {
font-size: 1em;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/***** Special Formatting *****/

.clearer { clear: both; }
