/***** Default Body *****/
body {
    color: black;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin: 0;
}

acronym {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    cursor: help;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

p {
    text-align: justify;
}

blockquote {
	border: 1px dashed;
	font-size: 125%;
	padding: 1ex 1em 1ex 1em;
}

blockquote pre {
	margin: 0;	
}

.math {
	font-style: italic;	
}

.code {
	font-family: "Courier New", Courier, monospace;
	font-style: normal;
}

.keyword {
	font-weight: bold;
	font-style: normal;
}

.display {
	margin-left: 5%;
	margin-right: 5%;
    text-align: center;
}

.caption {
	border-top: 1px solid;
	font-size: 95%;
	text-align: justify;
}

.smallcaps {
	font-variant: small-caps;
}
/***** Header *****/
#header {
    overflow: hidden;
    padding: 1ex 1em 0 1em;
}

#title {
    font-weight: bold;
    font-size: 250%;
    line-height: 1.5em;
}

.compact-header #title {
	font-size: 110%;
	line-height: normal;
}

#logo {
    float: left;
    margin-right: 1em;
}

#menu {
    overflow: hidden;
    padding: 0 1em 0 1em;
}

#nav {
    float: right;
    font-size: 90%;
}

#nav li, .inline-controls li {
    float: left;
    margin-left: 1em;
    text-align: center
}

#nav a, #nav span.here {
    float: left;
    width: 9em;
    padding: 3px 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
/***** Right Bar *****/
#sidebar {
    float: right;
    clear: right;
    width: 14em;
    margin: 2ex 1em 0 0;
}

#sidebar h1 {
    font-weight: bold;
    font-size: 115%;
    margin-top: 0;
    border-bottom: 1px dotted;
}

#sidebar h2 {
    font-weight: bold;
    font-size: 105%;
}

.box {
    padding: 1em;
    margin-bottom: 1ex;
}

.box img {
    border: 1px solid;
}

.box a:hover img {
    border: 1px solid;
}

.block * {
    display: block;
}

.people-list a {
    margin-top: 1.5ex;
}
/***** Body Text *****/
#content {
    margin: 4ex 16.5em 2ex 1em;
}

#content h1 {
    font-weight: bold;
    font-size: 150%;
    line-height: 1.5em;
    border-bottom: 1px solid;
    padding-bottom: 0.5ex;
}

#content h2 {
    font-weight: bold;	
    font-size: 135%;
}

#content li {
    margin-top: 1ex;
}

.item {
    margin: 2ex 0 2ex 0;
}

.item-date {
    float: right;
    margin-left: 1em;
}

.item-header {
    font-weight: bold;
}

.item-note {
    margin: 3px 0 0 2em;
}

.bottom-skip {
    margin-bottom: 4ex;
}
/***** Inline box *****/
.inline-box {
    margin: 1ex 2em 1ex 2em;
    text-align: justify;
    display: none;
}

.inline-header {
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: 2px;
}

.inline-menu {
    margin: 3px 0 0 2em;
}

.inline-controls {
    float: right;
    font-size: 80%;
}

.inline-controls a {
    float: left;
}

.embedded-flash {
    margin-top: 2ex;
    height: 400px;
}
